
*{
    box-sizing:border-box;
    margin: 20px;
    padding: 0;
}

:root {
    --primary-color: brown;
}


.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

/*h1*/
.app-header {
    position: sticky;
    margin: 80px;
    top: -50%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 60px;
}

.page__allBraids {
    width: 300px;
    height: auto;
    margin: 10px;
    z-index: 0;
    
}

.body {
    background-color: bisque;
}

.style__item {
    display: inline-block;
    margin: 20%;
}

.hide {
    display: none;
}

.style__item:hover + .hide {
    display: block;
    color: red;
}

@supports (display: grid){
    
    .styles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 20px;
        padding: 10px;
    }
    
    .style__item {
        background-color: var(--primary-color);
        width: auto;
        min-height: auto;
        margin: 0;
    }
    .style__item:last-child {
        grid-column: inherit;
        grid-row: inherit;
    }

}
@media all and (max-width: 500px) {
    .styles {
        grid-template-columns: 1fr;
    }

}

@media all and (min-width: 500px) and (max-width: 750px){
    .styles {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .styles {
        gap: 10px;
    }
    .style__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h2 {
        font-size: 22px;
    }
}

