
*{
    box-sizing:border-box;
    margin: 20px;
    padding: 0;
}

:root {
    --primary-color: brown;
    --secondary-color: darkgoldenrod;
}


.page-header {
    display: flex;
    width: 100%;
    padding: 10px;
}

/*h1*/
.app-header {
    flex: 0 1 400px;
    margin: 135px;
    /* top: 50%;
    left: 100%; */
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 60px;
}

.page__allBraids-img {
    flex-grow: 0;
    width: 250px;
    height: 200px;
    margin: 0;
    padding: auto;
    z-index: 0;
    
}

.body {
    background-color: bisque;
}

/* .styles {
    background-color: var(--primary-color);
} */

.style-button {
    background-color: antiquewhite;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /*Safari?*/
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}

.style__item {
    display: inline-block;
    margin: 10px;

}
/* 
li{
    border: 5px white solid;
} */

.hide {
    display: none;
}

.style__item:hover + .hide {
    display: block;
    color: red;
}
/* 
@supports (display: grid){
    
    .styles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 10px;
        padding: 20px;
    }
    
    .style__item {
        background-color: var(--primary-color);
        width: auto;
        min-height: auto;
        margin: 10px;
    }
    .style__item:last-child {
        grid-column: 3/3;
        grid-row: initial;
    }

}
@media all and (max-width: 500px) {
    .styles {
        grid-template-columns: 1fr;
    }

}

@media all and (min-width: 500px) and (max-width: 750px){
    .styles {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .styles {
        gap: 10px;
    }
    .style__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h2 {
        font-size: 22px;
    }
}
 */
